* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(29, 27, 27);
}

.moveSound{
  display: none;
}

.container {
    display: grid;
    margin: 0px 50px 0px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid whitesmoke;
  }

  .container > * {
    width: 60px;
    height: 60px;
  }

  .white {
    background-color: white;
  }

  .black {
    background-color: #4ea548;
  }

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 800px) {
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }

    .container > * {
      width: 100%;
      height: 100%;
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
    /* height: 100vh; Full viewport height */
  }

  .who_playing {
    text-align: center;
  }

.selected{
    background-color: #a9a9a9;
    
}
.black{
    position: relative;
}

.white{
    position: relative;
}

.move{
    opacity: 0.5;
    height: 50px;
    width: 50px;
    /* center the image */

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  

}

.circle {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4.5px solid grey; 
    border-radius: 50%;
    box-sizing: border-box;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 1; 
}

.who_playing{
    position: relative;
    z-index: 1;
   
}

.whos-turn
{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;

  bottom: -60px;
  z-index: 2;
}

.whos-turn h1{
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 30px;

}

.victory{
    background-color: rgb(221, 45, 45) !important;

}

.top-right {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 18px;

  }

  .hidden{
        display: none;
        
  }
  

.heading{
  display:flex;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.322);
}

.heading h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 0px;
  color: white;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 2px 6px 3px rgba(0, 0, 0, 0.37);
}

.whos-turn h2{
  color: white;
  margin-bottom: 20px;
}
